@{
    ViewBag.Title = "Eat.Play.Code";
}

<div class="page-wrap">

    <div id="home" class="home-parallax">
        <div class="home-text-wrapper">

            <div class="home-logo-text">
                <a href="#about">Eat.Play.Code</a>
            </div>

            <div id="home-slider" class="flexslider">
                <ul class="slides styled-list">

                    <li class="home-slide">
                        <p class="home-slide-content">We are <span class="highlight">Creative</span> Nerds</p>
                    </li>

                    <li class="home-slide">
                        <p class="home-slide-content">We are <span class="highlight">crazy</span> Coders</p>
                    </li>

                    <li class="home-slide">
                        <p class="home-slide-content">We <span class="highlight">love</span> Pizzas</p>
                    </li>

                </ul>
            </div>

        </div>

    </div>

    <nav class="light sticky-nav navigation">

        <div class="container clearfix">
            <div class="four columns">

                <div class="logo large">
                    <a href="#home">

                        <img src="images/logo.png" title="logo" alt="Logo" />
                    </a>

                </div>

            </div>


            <div class="twelve columns">

                <ul class="main-menu large nav" id="nav">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#team">Team</a></li>
                    <li><a href="#services">Services</a></li>

                    <li><a href="#contact">Contact</a></li>
                </ul>

            </div>

        </div>

    </nav>

    <div id="about" class="page">

        <div class="container">
            <div class="row">
                <div class="sixteen columns">

                    <div class="title">
                        <h1>About Us</h1>
                        <div class="subtitle">
                            <p>we are a brand new <span class="highlight">Creative Agency</span> located in Sydney, Australia.</p>
                        </div>

                    </div>

                </div>

            </div>

        </div>





        <div class="fullwidth grey">
            <div class="container">
                <div class="fancy-header2">
                    <h4>What we do?</h4>
                    <h2 class="highlight">Powerful websites that look beautiful.</h2>
                </div>

                <div class="row">
                    <div class="one-third column">
                        <div class="service-features">
                            <div class="img-container">
                                <img src="images/icons/icons/lab.png" alt="Service Features">
                            </div>
                            <h3>Research-Driven User Experience</h3>
                            <p>enhancing user interaction and loyalty by improving the usability, content strategy and planning</p>
                        </div>
                    </div>


                    <div class="one-third column">
                        <div class="service-features">
                            <div class="img-container">
                                <img src="images/icons/icons/paperplane.png" alt="Service Features">
                            </div>

                            <h3>Creative Design</h3>
                            <p>User-centred designs with Prototyping and user validation testing</p>
                        </div>

                    </div>


                    <div class="one-third column">
                        <div class="service-features">
                            <div class="img-container">
                                <img src="images/icons/icons/like.png" alt="Service Features">
                            </div>
                            <h3>Standards-compliant development</h3>
                            <p>Hi-tech cloud-based solutions using latest indusrty standard frameworks </p>
                        </div>

                    </div>





                </div>

            </div>

        </div>




        <div class="container">

            <div class="row">
                <div class="sixteen columns">
                    <h2>Some very important numbers about our agency</h2>
                </div>
                >

                <div class="four columns">
                    <div class="milestone-counter" data-perc="1120">
                        <span class="milestone-count highlight"></span>
                        <h6 class="milestone-details">Pizzas ordered</h6>
                    </div>
                </div>


                <div class="four columns">
                    <div class="milestone-counter" data-perc="11">
                        <span class="milestone-count highlight"></span>
                        <h6 class="milestone-details">Clients we've worked with</h6>
                    </div>
                </div>


                <div class="four columns">
                    <div class="milestone-counter" data-perc="24">
                        <span class="milestone-count highlight"></span>
                        <h6 class="milestone-details">Projects completed</h6>
                    </div>
                </div>


                <div class="four columns">
                    <div class="milestone-counter" data-perc="3812">
                        <span class="milestone-count highlight"></span>
                        <h6 class="milestone-details">days of coding</h6>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <div id="parallax1" class="parallax">
        <div class="bg6 parallax-bg"></div>

        <div class="overlay"></div>

        <div class="container clearfix">
            <div class="parallax-content">
                <p class="quote"><i class="icon-quote-left"></i>Making the simple complicated is commonplace; making the complicated simple, awesomely simple, that's creativity.<i class="icon-quote-right"></i></p>
                <div class="quote-author">-- Charles Mingus --</div>
            </div>

        </div>

    </div>

    <div id="team" class="page">

        <div class="container">
            <div class="row">
                <div class="sixteen columns">

                    <div class="title">
                        <h1>Our Team</h1>

                    </div>

                    <h2 class="highlight">Meet the team who built the dream</h2>
                </div>

            </div>

        </div>



        <div class="fullwidth grey">
            <div class="container">
                <div class="row">

                    <div class="sixteen columns">


                        <div class="team-member">

                            <div class="team-thumb img-wrp">


                                <img src="images/team/team1.png" alt="team">

                                <div class="team-overlay">

                                    <div class="overlay-content">


                                        <h4>Business Analysis</h4>

                                        <p><a data-toggle="modal" href="#team-1" class="modal-popup-link view-profile">View Profile</a></p>

                                    </div>


                                </div>

                            </div>

                            <div class="team-desc">
                                <h4>SINAN</h4>
                            </div>

                            <div id="team-1" class="modal hide fade.in animated fadeIn">


                                <div class="member-bio">
                                    <div class="container">


                                        <a href="#" class="close" data-dismiss="modal">×</a>

                                        <div class="member-role">
                                            <h1>SINAN SAGMANLI</h1>
                                            <h4 class="highlight">Software Engineer</h4>
                                        </div>



                                        <div class="row">
                                            <div class="seven columns">

                                                <img src="images/team/team1.png" alt="team">

                                                <div class="member-details">
                                                    <div class="social-icons">
                                                        <div class="social-icon social-email"><a href="sinansagmanli@gmail.com" target="_blank" data-original-title="Email">Email</a></div>

                                                        <div class="social-icon social-facebook"><a href="https://www.facebook.com/sagmanli" target="_blank" data-original-title="Facebook">Facebook</a></div>

                                                    </div>
                                                </div>

                                            </div>

                                            <div class="eight columns member-description">
                                                <p class="lead">
                                                    Sinan is a seasoned developer with experience on finance, banking and cms applications. He loves delivering high quality and maintainable code frequently.
                                                </p>

                                                <h3>Sinan's  Skills</h3>

                                                <div class="skillbar" data-perc="85">
                                                    <div class="skill-title">Java,Oracle 85%</div>
                                                    <div class="skill-percentage"></div>
                                                </div>
                                                <div class="skillbar" data-perc="80">
                                                    <div class="skill-title">Object Oriented Design with UML 80%</div>
                                                    <div class="skill-percentage"></div>
                                                </div>
                                                <div class="skillbar" data-perc="70">
                                                    <div class="skill-title">Html5, Css3, Javascript %90</div>
                                                    <div class="skill-percentage"></div>
                                                </div>





                                            </div>


                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="team-member">

                            <div class="team-thumb img-wrp">


                                <img src="images/team/team2.png" alt="team">

                                <div class="team-overlay">
                                    <div class="img-overlay"></div>

                                    <div class="overlay-content">


                                        <h4>Development</h4>

                                        <p><a data-toggle="modal" href="#team-2" class="modal-popup-link view-profile">View Profile</a></p>

                                    </div>

                                </div>

                            </div>

                            <div class="team-desc">
                                <h4>BURAK</h4>
                            </div>

                            <div id="team-2" class="modal hide fade.in animated fadeIn">


                                <div class="member-bio">
                                    <div class="container">


                                        <a href="#" class="close" data-dismiss="modal">×</a>


                                        <div class="member-role">
                                            <h1>Burak Iskender</h1>
                                            <h4 class="highlight">Development</h4>
                                        </div>

                                        <div class="row">
                                            <div class="seven columns">

                                                <img src="images/team/team2.png" alt="team">

                                                <div class="member-details">
                                                    <div class="social-icons">
                                                        <div class="social-icon social-email"><a href="mailto:burakiskender@hotmail.com" target="_blank" data-original-title="Email">Email</a></div>
                                                        <div class="social-icon social-facebook"><a href="https://www.facebook.com/burak.iskender1" target="_blank" data-original-title="Facebook">Facebook</a></div>

                                                    </div>
                                                </div>

                                            </div>

                                            <div class="eight columns member-description">
                                                <p class="lead">
                                                    An enthusiastic programmer specialized in web technologies,Burak  guides organizations in applying technology
                                                    to business,provides added value, and creates project deliverables in a timely manner.
                                                </p>

                                                <h3>Burak's Technical Skills</h3>

                                                <div class="skillbar" data-perc="85">
                                                    <div class="skill-title">Front End Technologies: Angular, CSS / HTML5 85%</div>
                                                    <div class="skill-percentage"></div>
                                                </div>
                                                <div class="skillbar" data-perc="70">
                                                    <div class="skill-title">C#, ASP.NET MVC, PHP 85%</div>
                                                    <div class="skill-percentage"></div>
                                                </div>
                                                <div class="skillbar" data-perc="60">
                                                    <div class="skill-title">JQuery, Javascript 80%</div>
                                                    <div class="skill-percentage"></div>
                                                </div>
                                                <div class="skillbar" data-perc="90">
                                                    <div class="skill-title">SQL 90%</div>
                                                    <div class="skill-percentage"></div>
                                                </div>

                                                <p>"You never fail until you stop trying..."</p>


                                            </div>


                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="team-member">

                            <div class="team-thumb img-wrp">

                                <img src="images/team/team3.png" alt="team">

                                <div class="team-overlay">
                                    <div class="img-overlay"></div>

                                    <div class="overlay-content">

                                        <h4>User Experience</h4>

                                        <p><a data-toggle="modal" href="#team-3" class="modal-popup-link view-profile">View Profile</a></p>

                                    </div>


                                </div>

                            </div>

                            <div class="team-desc">
                                <h4>Lena</h4>
                            </div>

                            <div id="team-3" class="modal hide fade.in animated fadeIn">

                                <!-- START TEAM BIO -->
                                <div class="member-bio">
                                    <div class="container">

                                        <a href="#" class="close" data-dismiss="modal">×</a>

                                        <div class="member-role">
                                            <h1>Lena Kudinova</h1>
                                            <h4 class="highlight">User Experience </h4>
                                        </div>



                                        <div class="row">
                                            <div class="seven columns">

                                                <img src="images/team/team3.png" alt="team">

                                                <div class="member-details">
                                                    <div class="social-icons">
                                                        <div class="social-icon social-email"><a href="l@kudinov.pro" target="_blank" data-original-title="Email">Email</a></div>

                                                    </div>
                                                </div>

                                            </div>

                                            <div class="eight columns member-description">
                                                <p class="lead">
                                                    Lena is an art director and UX designer,
                                                    passionate about brands and its visual communication with the costumers.

                                                    Throughout her 14 years of experience in marketing and advertising industry she developed a deep understanding of how  to connect clients with their audience by creating outstanding visual identity and smart user experience.
                                                </p>
                                                <h3>Lena's Skills</h3>

                                                <div class="skillbar" data-perc="85">
                                                    <div class="skill-title">Interaction Design 85%</div>
                                                    <div class="skill-percentage"></div>
                                                </div>
                                                <div class="skillbar" data-perc="70">
                                                    <div class="skill-title">UX Design 90%</div>
                                                    <div class="skill-percentage"></div>
                                                </div>
                                                <div class="skillbar" data-perc="60">
                                                    <div class="skill-title">Human-computer interaction 70%</div>
                                                    <div class="skill-percentage"></div>
                                                </div>



                                            </div>


                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>


                    </div>
                </div>

            </div>

        </div>
    </div>

    <div id="services" class="page">


        <div class="container">
            <div class="row">
                <div class="sixteen columns">

                    <div class="title">
                        <h1>Our Services</h1>
                        <div class="subtitle">
                            <p>Our services are delivered by our team with <span class="highlight">years of experience</span> are <span class="highlight">passionate</span> about developing business.</p>
                        </div>

                    </div>

                </div>

            </div>

        </div>


        <div class="fullwidth grey">

            <div class="container clearfix">
                <div class="row">

                    <div class="one-third column">

                        <div class="service-box">

                            <div>
                                <h3>Branding</h3>

                                <i class="service-icon icon-rocket"></i>
                            </div>

                            <div class="service-description">
                                <p></p>

                            </div>
                            <h6>What we offer</h6>
                            <ul class="styled-list">
                                <li>Research</li>
                                <li>Strategy</li>
                                <li>Design</li>
                                <li>Experience</li>
                            </ul>


                        </div>

                    </div>


                    <div class="one-third column">

                        <div class="service-box">

                            <div>
                                <h3>User Experience</h3>

                                <i class="service-icon icon-beaker"></i>
                            </div>

                            <div class="service-description">
                                <p></p>

                            </div>

                            <h6>What we offer</h6>

                            <ul class="styled-list">
                                <li>Personal Analysis</li>
                                <li>Wireframe Design</li>
                                <li>Storyboard Development</li>
                                <li>Visual Design</li>
                            </ul>



                        </div>

                    </div>

                    <div class="one-third column">
                        <div class="service-box">
                            <div>
                                <h3>Design</h3>
                                <i class="service-icon icon-tablet"></i>
                            </div>
                            <div class="service-description">
                                <p></p>
                            </div>
                            <h6>What we offer</h6>
                            <ul class="styled-list">
                                <li>Research</li>
                                <li>Concept</li>
                                <li>Design</li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="container clearfix">

            <div class="sixteen columns">

                <h3>Are you ready to start a conversation?</h3>
                <a href="#contact" class="button scroll-to">Get in touch</a>
            </div>
        </div>

    </div>

    <div id="parallax4" class="parallax">
        <div class="bg4 parallax-bg"></div>

        <div class="overlay"></div>

        <div class="container clearfix">
            <div class="parallax-content">

                <div class="contact-details">
                    <h2>eatplaycode@hotmail.com</h2>

                    <h2>Level 11, 71 Regent Street, Chippendale, Sydney</h2>
                </div>

            </div>

        </div>

    </div>

    <div id="contact" class="page">
        <div class="container">
            <div class="row">
                <div class="sixteen columns">

                    <div class="title">
                        <h1>Contact Us</h1>
                        <div class="subtitle">
                            <p>We'd really love to <span class="highlight">hear from you</span> so why not drop us an email and <span class="highlight">we'll get back</span> to you as soon as we can.</p>
                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="container clearfix">
            <div class="sixteen columns">


                <div class="contact-box">

                    <div id="contact-form">
                        @using (Html.BeginForm("Contact", "Home", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div id="contact-input">
                                <!--[if IE]>
                                    <label for="name">Name</label>
                                <![endif]-->
                                <input type="text" name="Name" id="Name" placeholder="Name (required)">
                                <!--[if IE]>
                                     <label for="email">Email</label>
                                 <![endif]-->
                                <input type="text" name="Email" id="Email" placeholder="Email (required)">
                                <!--[if IE]>
                                     <label for="subject">Subject</label>
                                 <![endif]-->
                                <input type="text" name="Subject" id="Subject" placeholder="Subject">
                            </div>
                            <div id="contact-textarea">
                                <!--[if IE]>
                                       <label for="message">Your Message Here</label>
                                   <![endif]-->
                                <textarea name="Message" id="Message" cols="39" rows="4" placeholder="Your Message"></textarea>
                            </div>
                            <div id="contact-submit">
                                <div>
                                    <input name="submit" type="submit" id="submit" tabindex="5" value="Post Comment" class="comment-submit small button">
                                </div>
                            </div>
                        }
                        <div class="clear"></div>
                    </div>
                    <div class="result"></div>



                </div>

            </div>

        </div>

        <div class="copyright">
            <div class="container clearfix">
                <div class="sixteen columns">
                    <div class="copyright-logo">
                        <a href="#">
                            <img src="images/logo.png" title="logo" alt="logo">
                        </a>
                    </div>
                    <div class="social-icons">
                        <div class="social-icon social-email"><a href="mailto:burakiskender@hotmail.com" target="_blank" data-original-title="Email">Email</a></div>
                        <div class="social-icon social-facebook"><a href="#" target="_blank" data-original-title="Facebook">Facebook</a></div>
                        <div class="social-icon social-twitter"><a href="#" target="_blank" data-original-title="Twitter">Twitter</a></div>

                    </div>
                    <p>© 2014 All Rights Reserved.</p>

                </div>

            </div>

        </div>


    </div>

</div>
